/*#region Video player area*/

.detailed-video-wraper .plyr,
.detailed-video-wraper .plyr *,
.detailed-video-wraper .plyr ::after,
.detailed-video-wraper .plyr ::before {
    color: #fff;
}

.plyr video {
    width: 100%;
    height: 332px;
    vertical-align: middle;
    border-radius: inherit;
}

video .detailed-video-wraper__video .plyr--setup {
    object-fit: none;
}

.detailed-video-wraper .plyr__play-large {
    top: 49.6%;
    left: 49.1%;
    padding: 27px;
    background: transparent;
    border: 2px solid #fff;
}

.detailed-video-wraper__video {
    object-fit: fill;
}

.detailed-video-wraper .plyr__play-large svg {
    fill: #fff;
    left: 3px;
    width: 34px;
    height: 32px;
}

.plyr--video .plyr__controls {
    position: absolute;
    bottom: 18px;
    right: 16px;
}

.detailed-video-wraper .plyr__controls button svg {
    fill: #fff;
    width: 34px;
    height: 21px;
}

.plyr input[type=range]::-webkit-slider-thumb {
    border: none;
    height: 0;
    width: 0;
}


.detailed-video-wraper .plyr__progress--played, .plyr__volume--display {
    color: #c8d7d6;
}

.detailed-video-wraper .plyr__time {
    position: absolute;
    bottom: 33px;
    right: 9px;
    font: 400 11px 'Lato', sans-serif;
}

.detailed-video-wraper .plyr__time+.plyr__time::before {
    margin: 0 1px 0 0;
}

.detailed-video-wraper .plyr__time--current {
    position: absolute;
    right: 35px;
    bottom: 0;
}


/*#endregion Video player area*/


/*#region Audio player area*/


.plyr__progress--played
{
    color: #aab8b9;
}

.plyr--audio .plyr__controls {
    padding: 0 48px;
    height: 131px;
    background: #edf6f4;
    border: none;
}

.plyr--audio  .plyr__controls  button {
    padding: 2.74%;
    right: 2px;
    bottom: 2px;
    border: 2px solid currentColor;
    border-radius: 100%;
    color: #b2bfc0;
}

.audio-wraper .plyr__controls button svg {
    fill: #aab8b9;
    width: 36px;
    height: 36px;
}

.audio-wraper .plyr__time--duration,
.audio-wraper .plyr__time::before {
    display: none;
}

.audio-wraper .plyr .plyr__progress {
    top: 12px;
    left: 5px;
    margin: 0 0 0 20px;
}

.audio-wraper .plyr__time {
    position: absolute;
    bottom: 69px;
    right: 43px;
    font: 300 12px 'Lato', sans-serif;
}

@media screen and (min-width: 1075px) and (max-width: 1200px) {
    .plyr video {
        height: 280px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1075px) {
    .plyr video {
        height: 217px;
    }

    .detailed-video-wraper .plyr__play-large {
        padding: 10px;
    }
}

@media (min-width:480px) {
    .plyr__controls .plyr__progress, .plyr__controls .plyr__time, .plyr__controls > button {
        margin: 0 0 0 11px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .plyr video {
        height: 100%;
    }

    .detailed-video-wraper .plyr__play-large {
        padding: 11px;
    }

    .audio-wraper .plyr__time {
        right: 10px;
        top: 30px;
    }

    .plyr--audio .plyr__controls {
        padding: 0 14px;
        height: 86px;
    }
}
/*#endregion Audio player area*/

