/*#region Fonts, main styles*/
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Intro;
    src: url("../fonts/Intro.otf");
}

*,
:before,
:after{
    margin: 0;
    padding: 0;
    color: #072f27;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #000;
}
/*#endregion Fonts, main styles*/

header,
section,
footer {
    display: block;
}
/*#region Header area*/
.header {
    display: flex;
    color: #fff;
    height: 659px;
    background: url('../images/desktop/substrate.png') no-repeat 100% 0,
    url('../images/desktop/header-area/fog-1535201_1920.png') no-repeat 100% 0;
}

.main-section {
    width: 100%;
    max-width: 1170px;
}

.container_mobile,
.mobile-menu,
.mobile-slide-down,
.mobile-topic_name-articles,
.list-of-articles_mobile,
.single-travel__mobile,
.detailed-video__caption_mobile,
.popular-videos-information__caption_mobile,
.music-area__caption_mobile
{
    display: none;
}



.head-line {
    position: relative;
    width: 100%;
    margin: 33px 0 0;
}

.logo {

    font: 600 18px 'Lato', sans-serif;
    color: #fff;
    padding: 0 0 2px;
}

.logo_header {
    position: absolute;
    top: -1px;
    left: -2px;
    float: left;
}

.logo_colored {
    color: #000;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    width: 475px;
    padding: 0 0 0 13px;
    float: right;
}

.head-menu__element {
    letter-spacing: 0;
    font: 300 16px 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
}

.head-menu__element:last-child{
    margin: 0;
}

.head-menu__element:hover {
    text-decoration: none;
    padding: 0 0 3px;
    border-bottom: 2px solid #fff;

}

.tagline {

    width: 100%;
    text-align: center;
    height: 115px;
}

.tagline_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.tagline__text {
    font: 36px 'Intro', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.button {
    display: block;
    text-decoration: none;
    background-color: #fff;
    height: 40px;
    width: 230px;
    margin: 0 0 6px;
    border: 0;
    color: #072f27;
    font-size: 18px;
    font-family: 'Intro', sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #bcbcbc;
}
/*#endregion Header area*/

/*#region Popular articles area */
/*.pop-articles {*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

.topic {
    text-align: center;
    overflow: hidden;
    padding: 69px 0 42px 0;
    letter-spacing: 1px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.topic__text_name-pop-arcticles {
    display: inline;
    font: 36px 'Intro', sans-serif;
    text-transform: uppercase;
    color: #072f27;
    position: relative;
}

.topic__text_name-pop-arcticles:before {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    right: calc(100% + 23px);
}

.topic__text_name-pop-arcticles:after {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    left: calc(100% + 25px);
}


.articles-area {
    height: 561px;
}

.list-of-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 0 70px 0 0;
    width: 40%;
    height: 100%;
}

.article {
    width: 100%;
}

.popular-article-photo-wrap {
    padding:0 29px 0 0;
    float: left;
    width: 50%;
    max-height: 110px;
    height: 100%;
}

.popular-article-photo-wrap__img {
    width: 100%;
    height: 100%;
}

.popular-article-information {
    float: right;
    width: 50%;
    height: 111px;
}

.popular-article-information__caption {
    position: relative;
    top: -2px;
    font: 16px 'Intro', sans-serif;
    line-height: 1.2;
}

.popular-article-information__content {
    display: block;
    line-height: 1.2;
    font: 400 12px 'Lato', sans-serif;
    padding: 2px 0 0;
    letter-spacing: 0.006em;
    width: 89%;
}

.date-and-icons {
    position: relative;
    top: 12px;
}

.date-and-icons__date{
    float: left;
    font: 600 14px 'Lato', sans-serif;
    color: #193e36;
}


.user-actions {
    margin: 0 28px 0 0;
    display: inline-block;
    float: right;
}

.user-actions__element {
    text-decoration: none;
    padding: 0 10px 0 0;
    color: #0b322a;
    position: relative;
    bottom: 1px;
}


.user-actions__like {
    float: left;
}

.user-actions__like:hover {
    background: url('../images/desktop/icon-like-hover.png') no-repeat  0 39%;
}

.user-actions__share {
    float: right;
    padding: 0;
}

.user-actions__share:hover {
    background: url('../images/desktop/icon-share-hover.png') no-repeat 0 39%;
}

.user-actions__comment:hover {
    background: url('../images/desktop/icon-commentaries-hover.png') no-repeat 0 39%;
}



.detailed-articles {
    height: 561px;
    width: 59.9%;
    background: url('../images/desktop/popular-articles-area/World___New_Zealand_The_beautiful_fjord_Milford_Sound__New_Zealand_110928_.png') no-repeat 100% 0;
    float: right;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 0 62px;
}

.detailed-article-content {
    margin: 0 auto;
    width: 54.3%;
    height: 150px;
}

.detailed-article-content__caption {
    font: 24px 'Intro', sans-serif;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}

.detailed-article-content__content {
    padding: 9px 0 9px;
    width: 100%;
    font: 400 14px 'Lato', sans-serif;
    color: #d9ddd8;
    line-height: 1.643em;
    letter-spacing: 0.0043em;

}

.detailed-article-content__date {
    font: 600 14px 'Lato', sans-serif;
    color: #fff;
    letter-spacing: -0.013em;
}
/*#endregion Popular articles*/

/*!*#region Travels area*!*/
/*.travel {*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

.topic_name-travels {
    padding: 67px 11px 40px 0;
}

.topic__text_name-travel {
    display: inline;
    font: 36px 'Intro', sans-serif;
    text-transform: uppercase;
    color: #072f27;
    position: relative;
}

.topic__text_name-travel:before {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    right: calc(100% + 24px);
}

.topic__text_name-travel:after {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 10px;
    left: calc(100% + 25px);
}

.travel-examples {
    width: 100%;
    height: 375px;
}

.single-travel {
    width: 31.624%;
    height: 100%;
}

.single-travel__block {
    float: left;
    margin: 0 2.49% 0 0;
}

/*.horseshoe-bend-block {*/
/*float: left;*/

/*}*/

.single-travel__block_fixed {
    float: right;
}

.single-travel__caption {
    font: 18px 'Intro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 16px;
}

.travels-photo-wrap__img {
    height: 100%;
    width: 100%;
}

.single-travel__content {
    padding: 22px 0 0;
    font: 400 14px 'Lato', sans-serif;
    letter-spacing: 0.005em;
    line-height: 1.34em;
}
/*#endregion Travels area*/

/*#region Latest articles area*/

/*.latest-articles {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

.topic_name-latest-articles {
    padding: 51px 10px 45px 0;
}

.topic__text_name-latest-articles {
    display: inline;
    font: 36px 'Intro', sans-serif;
    text-transform: uppercase;
    color: #072f27;
    position: relative;
}

.topic__text_name-latest-articles:before {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    right: calc(100% + 26px);
}

.topic__text_name-latest-articles:after {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 10px;
    left: calc(100% + 26px);
}

.example-of-latest-article {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 100%;
    height: 360px;
    margin: 0 0 40px;
}

.latest-articles-photo-wraper {
    width: 48.79%;
    max-height: 360px;
    height: 100%;
    margin: 0 10.4% 0 0;
}

.latest-articles-photo-wraper__img {
    width: 100%;
    height: 100%;
}

.latest-articles-inf-wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 33.57%;
    height: 100%;
    max-height: 360px;
    padding: 0 0 0 0.538%;
}

.latest-articles-information {
    width: 100%;
    text-align: left;
}

.latest-articles-information__caption {
    font: 24px 'Intro', sans-serif;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
}

.latest-articles-information__content {
    font: 400 16px 'Lato', sans-serif;
    letter-spacing: 0.006em;
    line-height: 1.5em;
    padding: 30px 0 22px 1.6px;
}

.latest-articles-information__content_fixed-padding {
    padding: 18px 0 23px 1.6px;
}

.date-and-icons-latest-articles {
    display: flex;
    justify-content: space-between;
    width: 44.482%;
    top: 0;
}

.user-actions__latest-articles {
    margin: 0;
    display: inline-block;
}

.button_see-more {
    background-color: #072f27;
    height: 40px;
    width: 230px;
    margin: 32px auto 0;
    border: 0;
    color: #fff;
    font: 18px 'Intro', sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    vertical-align: middle;
}

.button_see-more:hover {
    background-color: #0e6050;
}
/*#endregion Latest articles area*/

/*#region Popular videos area*/

/*.popular-videos {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

.topic_name-popular-videos {
    margin: 0 0 -6px;
}

.topic__text_name-popular-videos {
    display: inline;
    font: 36px 'Intro', sans-serif;
    text-transform: uppercase;
    color: #072f27;
    position: relative;
}

.topic__text_name-popular-videos:before {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    right: calc(100% + 25px);
}

.topic__text_name-popular-videos:after {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 12px;
    left: calc(100% + 25px);
}

.videos-area {
    width: 100%;
    height: 385px;
    margin: 0 0 40px;
}

.detailed-video {
    float: left;
    width: 65.9%;
    height: 100%;
}

.detailed-video__caption {
    font: 16.87px 'Intro', sans-serif;
    letter-spacing: -0.005em;
    margin: 4px 0 7px;
}

.detailed-video__caption_fixed {
    padding: 0 0 0 4px;
}

.detailed-video-wraper__video .plyr--setup {
    object-fit: none;
}

.popular-videos-date {
    font: 400 14px 'Lato', sans-serif;
    color: #7b8986;
    margin: 0 0 8px;
}

.list-of-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 31.6%;
    height: 100%;
}

.detailed-video-wraper {
    width: 100%;
    height: 86.5%;
}

.video-preview {
    width: 100%;
    padding: 5px 0 0;
}

.popular-videos-video-wrap {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 15px 0 0;
    max-height: 110px;
}
.popular-videos-video-wrap__img {
    width: 100%;
    height: 100%;
}


.play-button__img {
    position: absolute;
    left: calc(50% - 8px);
    top: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

.popular-videos-information {
    width: 50%;
    height: 100%;
    float: right;
}

.popular-videos-information__caption {
    font: 16px 'Intro', sans-serif;
    line-height: 1.2;
    margin: 0 0 0 14px;
    white-space: nowrap;
}

.popular-videos-information__date {
    font: 400 14px 'Lato', sans-serif;
    padding: 11px 0 0 13px;
    letter-spacing: 0.01em;
}
/*#endregion Popular videos area*/

/*#region Music area*/

/*.music {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/


.topic__text_name-music {
    display: inline;
    font: 36px 'Intro', sans-serif;
    text-transform: uppercase;
    color: #072f27;
    position: relative;
}

.topic__text_name-music:before {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    right: calc(100% + 25px);
}
.topic__text_name-music:after {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 12px;
    left: calc(100% + 25px);
}

.music-area__caption {
    font: 24px 'Intro', sans-serif;
    margin: 0 0 24px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 770px;
}

.audio-wraper {
    width: 100%;
    height: 130px;
}

.track-name {
    font: 400 14px 'Lato', sans-serif;
    position: absolute;
    top: 5%;
    left: 19.6%;
    z-index: 1;
}
/*#endregion Music area*/

/*#region Replies area*/
.comment-content {
    width: 93.75%;
    max-width: 772px;
}

.topic_name-comments {
    text-align: center;
    overflow: hidden;
    padding: 24px 0 42px 0;
    letter-spacing: 1px;
    width: 100%;
}

.topic__text_name-comments {
    padding: 0 0 0 10px;
    letter-spacing: 0;
    display: inline;
    font: 400 18px 'Lato', sans-serif;
    color: #384e49;
    position: relative;
}

.topic__text_name-comments:before {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 11px;
    right: calc(100% + 9px);
}

.topic__text_name-comments:after {
    display: block;
    width: 100vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #072f27;
    top: 12px;
    left: calc(100% + 18px);
}

.comment {
    margin: 0 0 46px 48px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 722px;
}


.comment_fixed-anna {
    margin: 0 0 41px 48px;
}

.comment_fixed-max {
    margin: 0 0 33px 46px;
}

.comment-information {
    width: 100%;
    padding: 0 0 0 22px;
}

.comment-information__name {
    display: inline;
    font: 600 16px 'Lato', sans-serif;
    margin: 0 16px 0 0;
}

.comment-information__date {
    display: inline;
    font: 400 14px 'Lato', sans-serif;
    color: #aab8b9;
}

.comment-information__text {
    line-height: 1.75em;
    margin: 4px auto 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.007em;
}

.comment-information__text_fixed {
    letter-spacing: 0.003em;
}

.input-area {
    font: 400 16px 'Lato', sans-serif;
    width: 100%;
    min-height: 80px;
    max-width: 770px;
    background-color: #edf6f4;
    border: none;
    padding: 16px 0 0 18px;
    resize: none;
}

.comment-information__reply {
    font: 400 16px 'Lato', sans-serif;;
    text-decoration: none;
    color: #0d50a7;
}
/*#endregion Replies area*/

/*#region Pagination area*/

.pagination {
    display: flex;
    justify-content: space-around;
    width: 29.87%;
    margin: 31px auto 37px;
}

.pagination__page {
    display: inline-block;
    font: 400 16px 'Lato', sans-serif;
    color: #979797;
    text-decoration: none;
}

.pagination__page_active {
    color: #072f27;
}

.pagination__page:hover {
    color: #0d50a7;
}
/*#endregion Pagination area*/

/*#region Footer area*/

.footer {
    width: 100%;
    height: 100px;
    background-color: #072f27;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.footer-container__copyright {
    font: 400 14px 'Lato', sans-serif;
    color: #a5a5a5;
}

.social {
    width: 14.52%;
}
.social-icon {
    display: block;
    float: left;
    background-color: #828282;
    width: 39px;
    height: 39px;
    line-height: 34px;
    border-radius: 50%;
    margin: 0 15.29% 0 0;
    text-align: center;
    text-decoration: none;
}

.social-icon:hover {
    background-color: #d3d3d3;
}

.social-icon:last-child {
    margin: 0;
}

.social-icon__img {
    vertical-align: middle;
}
/*#endregion Footer area*/

/*#region Container and Clearfix*/
.container1 {
    position: relative;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.inside-content {
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*#endregion Container and Clearfix*/


@media screen and (min-width: 1075px) and (max-width: 1200px) {
    .container1 {
        width: 992px
    }
    .list-of-articles {
        padding: 0 20px 0 0;
    }
    .latest-articles-photo-wraper {
        margin: 0 90px 0 0;
    }

    .popular-article-photo-wrap {
        padding: 0 15px 0 0;
    }
    .latest-articles-information__caption {
        white-space: normal;
    }
    .detailed-articles {
        padding: 0 0 150px;
    }

    .date-and-icons-latest-articles {
        width: 60.482%;
    }

    .popular-article-information .date-and-icons__date {
        font-size: 12px;
    }

    .detailed-video__caption {
        font-size: 15px;
    }

    .social {
        width: 18.52%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1075px) {
    .container1 {
        width: 768px;
    }

    /*#region Popular-articles*/
    .latest-articles-information__caption {
        white-space: normal;
    }

    .list-of-articles {
        padding: 0 45px 0 0;
    }

    .popular-article-information__caption {
        font-size: 10px;
    }

    .popular-article-information__content {
        font-size: 9px;
    }

    .popular-article-information .date-and-icons {
        width: 100%;
        position: relative;
        top: 15px;
    }

    .popular-article-information .date-and-icons__date {
        font-size: 8px;
    }

    .popular-article-information .user-actions {
        margin: 0 3px 0 0;
    }

    .detailed-articles {
        height: 368px;
        padding: 0 0 14px;
    }

    .detailed-article-content__caption {
        font-size: 15px;
        white-space: normal;
    }

    .detailed-article-content__content,
    .detailed-article-content__date {
        font-size: 11px;
    }
    /*#endregion Popular-articles*/

    /*#region Latest articles*/
    .latest-articles-inf-wraper {
        height: 60%;
    }

    .example-of-latest-article {
        margin: 0;
    }

    .latest-articles-photo-wraper__img {
        width: 100%;
        height: 80%;
    }

    .latest-articles-information__caption {
        font-size: 15px;
    }

    .latest-articles-information__content {
        font-size: 13px;
    }

    .date-and-icons-latest-articles {
        width: 95.482%;
    }
    /*#endregion Latest articles*/

    /*#region Popular videos*/
    .detailed-video__caption {
        font-size: 11px;
    }

    .detailed-video-wraper {
        height: 83.5%;
    }

    .popular-videos-date {
        font-size: 10px;
        margin: 0 0 4px;
    }

    .videos-area {
        height: 261px;
    }

    .list-of-videos  {
        justify-content: space-between;
    }

    .popular-videos-information__caption {
        font-size: 10px;
    }

    .popular-videos-information__date {
        font-size: 10px;
        padding: 33px 0 0;
    }
    /*#endregion Popular videos*/

    /*#region Music*/
    .music-area__caption {
        font-size: 18px;
    }
    /*#endregion Popular videos*/

    /*#region Footer*/
    .social {
        width: 22.5%;
    }
    /*#endregion Footer*/
}

@media screen and (min-width: 480px) and (max-width: 799px) {
    body {
        overflow-x:hidden;
    }

    .topic,
    .articles-area,
    .travel-examples,
    .example-of-latest-article,
    .detailed-video__caption,
    .popular-videos-information__caption,
    .popular-videos-date,
    .music-area__caption
    {
        display: none;
    }

    /*#region Header*/
    .header {
        min-height: 659px;
    }

    .head-line {
        display: none;
    }

    .mobile-menu__wrapper{
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0 0;
    }
    .mobile-menu {
        align-content: flex-end;
        display: block;
        width: 49px;
        height: 41px;
    }

    .mobile-menu__img {
        width: 100%;
        height: 100%;
    }

    .tagline {
        height: 320px;
        top: 60%;
    }

    .tagline__text {
        line-height: 1.6;
    }

    .mobile-slide-down {
        display: block;
        width: 45px;
        height: 50px;
    }

    .mobile-slide-down__img {
        width: 100%;
        height: 100%;
    }
    /*#endregion Header*/

    /*#region Popular articles*/
    .mobile-topic_name-articles {
        display: block;
        text-align: center;
        overflow: hidden;
        padding: 24px 0 24px 0;
        letter-spacing: 1px;
        width: 100%;
    }

    .topic__text_name-pop-arcticles {
        font-size: 22px;
    }

    .topic__text_name-pop-arcticles:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-pop-arcticles:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .list-of-articles_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .list-of-articles_mobile .popular-article-information {
        float: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 11px 0 0;
    }

    .list-of-articles_mobile .popular-article-photo-wrap{
        width: 100%;
        height: auto;
        max-height: 200px;
        padding: 0;
        float: none;
    }

    .list-of-articles_mobile .popular-article-photo-wrap__img {
        max-height: 200px;
    }

    .list-of-articles_mobile .article {
        margin: 0 0 25px;
    }

    .list-of-articles_mobile .popular-article-information__caption {
        position: static;
        top: 0;
        font-size: 18px;
    }

    .list-of-articles_mobile .popular-article-information__content {
        line-height: 1.2;
        font-size: 16px;
        padding: 5px 0 8px;
        opacity: 0.5;
        width: 100%;
    }

    .list-of-articles_mobile .date-and-icons {
        position: static;
    }

    .list-of-articles_mobile .user-actions {
        margin: 0;
    }

    .list-of-articles_mobile .user-actions__element {
        position: static;
    }
    /*#endregion Popular articles*/


    /*#region Travel*/
    .topic__text_name-travel {
        font-size: 22px;
    }

    .topic__text_name-travel:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-travel:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .single-travel__mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 118px;
        max-height: 200px;
        padding: 0;
        float: none;
        margin: 0 0 12px;
    }

    .single-travel__mobile_scotland {
        background: url('../images/mobile/travel-area/scotland-1761292_1920.png') no-repeat 100% 0;
        background-size: cover;
    }

    .single-travel__mobile_horseshoe {
        background: url('../images/mobile/travel-area/horseshoe-bend-1908283_1920.png') no-repeat 100% 0;
        background-size: cover;
    }

    .single-travel__mobile_niagara {
        background: url('../images/mobile/travel-area/niagara-218591_1920.png') no-repeat 100% 0;
        background-size: cover;
    }

    .single-travel__mobile .single-travel__caption {
        font: 18px 'Intro', sans-serif;
        color: #fff;
        padding: 0;
    }
    /*#endregion Travel*/


    /*region Latest articles*/
    .topic__text_name-latest-articles {
        font-size: 22px;
    }

    .topic__text_name-latest-articles:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-latest-articles:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .article_name-latest-articles:last-child {
        margin: 0;
    }
    /*#endregion Latest articles*/


    /*#region Popular videos*/
    .topic__text_name-popular-videos {
        font-size: 22px;
    }

    .topic__text_name-popular-videos:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-popular-videos:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .videos-area {
        height: 100%;
        margin: 0;
    }

    .detailed-video-wraper {
        width: 100%;
        height: auto;
    }

    .detailed-video {
        float: none;
        width: 100%;
        height: 100%;
    }

    .detailed-video__caption_mobile {
        display: block;
        font: 13px 'Intro', sans-serif;
        margin: 7px 0 15px;
    }

    .list-of-videos {
        width: 100%;
        float: none;
    }

    .video-preview {
        width: 65%;
        margin: 0 auto;
        padding: 12px 0 0;
        height: 110px;
    }

    .popular-videos-video-wrap {
        max-width: 200px;
        padding: 0;
    }

    .play-button__img {
        left: 50%;
    }

    .popular-videos-information {
        width: 45%;
    }

    .popular-videos-information__caption_mobile {
        font: 14px 'Intro', sans-serif;
        display: block;
    }

    .popular-videos-information__date {
        padding: 0;
    }
    /*#endregion Popular videos*/


    /*#region Music*/
    .topic__text_name-music {
        font-size: 22px;
    }


    .topic__text_name-music:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-music:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .audio-wraper {
        height: auto;
    }

    .track-name {
        font: 400 12px 'Lato', sans-serif;
        position: absolute;
        top: 2%;
        left: 37.6%;
        z-index: 1;
    }

    .music-area__caption_mobile {
        display: block;
        font: 14px 'Intro', sans-serif;
        margin: 17px 0 0;
    }
    /*#endregion Music*/


    /*#region Replies*/
    .comment {
        margin: 0 0 46px;
    }

    .comment-information__name {
        margin: 0;
    }

    .comment-information__date {
        display: block;
    }

    .comment-information__text {
        line-height: 1.45em;
        font-size: 13px;
    }

    .pagination {
        width: 300px;
    }
    /*#endregion Replies*/


    /*#region Footer*/
    .footer .footer-container {
        width: 85%;
    }

    .footer-container__copyright {
        font-size: 12px;
    }


    .social {
        width: 155px;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }
    /*#endregion Footer*/


    .container1 {
        width: 100%;
    }

    .inside-content {
        padding: 0 25px;
    }


    .container_mobile {
        display: block;
        width: 93.75%;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    body {
        overflow-x:hidden;
    }

    .topic,
    .articles-area,
    .travel-examples,
    .example-of-latest-article,
    .detailed-video__caption,
    .popular-videos-information__caption,
    .popular-videos-date,
    .music-area__caption

    {
        display: none;
    }

    /*#region Header*/
    .header {
        min-height: 659px;
    }

    .head-line {
        display: none;
    }

    .mobile-menu__wrapper{
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0 0;
    }
    .mobile-menu {
        align-content: flex-end;
        display: block;
        width: 49px;
        height: 41px;
    }

    .mobile-menu__img {
        width: 100%;
        height: 100%;
    }

    .tagline {
        height: 365px;
        top: 60%;
    }

    .tagline__text {
        line-height: 1.6;
    }

    .mobile-slide-down {
        display: block;
        width: 45px;
        height: 50px;
    }

    .mobile-slide-down__img {
        width: 100%;
        height: 100%;
    }
    /*#endregion Header*/

    /*#region Popular articles*/
    .mobile-topic_name-articles {
        display: block;
        text-align: center;
        overflow: hidden;
        padding: 24px 0 24px 0;
        letter-spacing: 1px;
        width: 100%;
    }

    .topic__text_name-pop-arcticles {
        font-size: 22px;
    }

    .topic__text_name-pop-arcticles:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-pop-arcticles:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .list-of-articles_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .list-of-articles_mobile .popular-article-information {
        float: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 11px 0 0;
    }

    .list-of-articles_mobile .popular-article-photo-wrap{
        width: 100%;
        height: auto;
        max-height: 200px;
        padding: 0;
        float: none;
    }

    .list-of-articles_mobile .article {
        margin: 0 0 25px;
    }

    .list-of-articles_mobile .popular-article-information__caption {
        position: static;
        top: 0;
        font-size: 18px;
    }

    .list-of-articles_mobile .popular-article-information__content {
        line-height: 1.2;
        font-size: 16px;
        padding: 5px 0 8px;
        opacity: 0.5;
        width: 100%;
    }

    .list-of-articles_mobile .date-and-icons {
        position: static;
    }

    .list-of-articles_mobile .user-actions {
        margin: 0;
    }

    .list-of-articles_mobile .user-actions__element {
        position: static;
    }
    /*#endregion Popular articles*/


    /*#region Travel*/
    .topic__text_name-travel {
        font-size: 22px;
    }

    .topic__text_name-travel:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-travel:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .single-travel__mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 118px;
        max-height: 200px;
        padding: 0;
        float: none;
        margin: 0 0 12px;
    }

    .single-travel__mobile_scotland {
        background: url('../images/mobile/travel-area/scotland-1761292_1920.png') no-repeat 100% 0;
    }

    .single-travel__mobile_horseshoe {
        background: url('../images/mobile/travel-area/horseshoe-bend-1908283_1920.png') no-repeat 100% 0;
    }

    .single-travel__mobile_niagara {
        background: url('../images/mobile/travel-area/niagara-218591_1920.png') no-repeat 100% 0;
    }

    .single-travel__mobile .single-travel__caption {
        font: 18px 'Intro', sans-serif;
        color: #fff;
        padding: 0;
    }
    /*#endregion Travel*/


    /*region Latest articles*/
    .topic__text_name-latest-articles {
        font-size: 22px;
    }

    .topic__text_name-latest-articles:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-latest-articles:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .article_name-latest-articles:last-child {
        margin: 0;
    }
    /*#endregion Latest articles*/


    /*#region Popular videos*/
    .topic__text_name-popular-videos {
        font-size: 22px;
    }

    .topic__text_name-popular-videos:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-popular-videos:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .videos-area {
        height: 100%;
        margin: 0;
    }

    .detailed-video-wraper {
        width: 100%;
        height: auto;
    }

    .detailed-video {
        float: none;
        width: 100%;
        height: 100%;
    }

    .detailed-video__caption_mobile {
        display: block;
        font: 13px 'Intro', sans-serif;
        margin: 7px 0 15px;
    }

    .list-of-videos {
        width: 100%;
        float: none;
    }

    .video-preview {
        padding: 12px 0 0;
        height: 110px;
    }

    .popular-videos-video-wrap {
        padding: 0;
    }

    .play-button__img {
        left: 50%;
    }

    .popular-videos-information {
        width: 45%;
    }

    .popular-videos-information__caption_mobile {
        font: 14px 'Intro', sans-serif;
        display: block;
    }

    .popular-videos-information__date {
        padding: 0;
    }
    /*#endregion Popular videos*/


    /*#region Music*/
    .topic__text_name-music {
        font-size: 22px;
    }


    .topic__text_name-music:before {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        right: calc(100% + 15px);
    }

    .topic__text_name-music:after {
        display: block;
        width: 100vw;
        content: '';
        position: absolute;
        border-bottom: 1px solid #072f27;
        top: 8px;
        left: calc(100% + 15px);
    }

    .audio-wraper {
        height: auto;
    }

    .track-name {
        font: 400 9px 'Lato', sans-serif;
        position: absolute;
        top: 1%;
        left: 28.6%;
        z-index: 1;
    }

    .music-area__caption_mobile {
        display: block;
        font: 14px 'Intro', sans-serif;
        margin: 17px 0 0;
    }
    /*#endregion Music*/


    /*#region Replies*/
    .comment {
        margin: 0 0 46px;
    }

    .comment-information__name {
        margin: 0;
    }

    .comment-information__date {
        display: block;
    }

    .comment-information__text {
        line-height: 1.45em;
        font-size: 13px;
    }

    .pagination {
        width: 85%;
    }
    /*#endregion Replies*/


    /*#region Footer*/
    .footer .footer-container {
        width: 85%;
    }

    .footer-container__copyright {
        font-size: 12px;
    }


    .social {
        width: 155px;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }
    /*#endregion Footer*/


    .container1 {
        width: 100%;
    }

    .inside-content {
        padding: 0 25px;
    }

    .container_mobile {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}